// FONT
$textSlanted: 'Cavaet', cursive;

// COLORS
$mainWhite: #fff;
$mainBlack: #000;

$mainYellow: #d2aa5c;
$mainYellow2: #f2af29;
$mainGrey: #474747;

// TRANSITION
$transDefault: all 0.5s ease-in-out;